.nav{
    display:flex;
    justify-content: center;
}

.gallery{
    margin: 25px
}

.container-fluid {
    background: rgb(190, 188, 188);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills > li > a.active {
    background-color: grey !important;
}

.btn-success {
    position: relative;
    right: 25px
}

.text-end {
    position: relative;
    right: 15px
}

.heading {
    background-color: white;
}
div.post {
    background: white;
    width: 505px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
header h1 {
    margin: 0
}

.img{
    position: relative;
    right:18px

}

div.container{
    width: 520px;
    margin: auto
}
.post{
    position: relative;
    top: 21px
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: lightgray;
}